:root {
  --primary-1-light: #ffffff;
  --primary-2-light: #f2f2f2;

  --text-error: #dc3545;

  --btn-primary: #03a9f4;
  --btn-warning:  #ff5252;
  --btn-neutral: #d3d3d3;
}

:root {
  --color-bg-1-light: var(--primary-1-light);
  --color-bg-2-light: var(--primary-2-light);


  --color-text: var(--vt-c-text-light-1);

  --error-color: var(--text-error);
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg-2-light);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
