@import './base.scss';

#app {
  height: 100vh;
  width: 100%;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--primary-1-light);
  border-radius: 4px;
  border-style: none;
  font-weight: bold;
  cursor: pointer;

  &-icon {
    border: none;
    background: none;
  }

  &-spacing {
    margin: 0.5rem 1rem;
  }

  &-large {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }

  &-neutral {
    background-color: transparent;
    border-style: 1px solid var(--btn-neutral);
    border: 1px solid var(--btn-neutral);
    color: black;
  }

  &-primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
  }
   
  &-warning {
    background-color: var(--btn-warning);
    border-color: var(--btn-warning);
  }
}